.select_option {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.table_onsale_information td {
    padding: 15px 0px;
}

.table_onsale_information th {
    vertical-align: middle;
}

.table_onsale_price_infor th {
    vertical-align: middle;
    text-align: center;
}

.col_action {
    display: flex;
    gap: 10px;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.blackout_content {
    width: 50%;
    flex-direction: column;
}

.note-editable {
    HEIGHT: 210PX;
}

.onsales_info_label {
    margin-bottom: 10px;

}

.blackout_temp_content {
    margin-bottom: 10px;
}

.table_onsale_black_out {
    margin: 0 0 10px 10px;
}

#data-form-onsales {}

/* .footer_onsale_modal {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
} */